<p class="miPrimeraClase">component-productos works!</p>
<ul>
    <li *ngFor="let objeto of productos">
        <h2 class="miPrimeraClase">{{objeto.nombre}}</h2><!--INTERPOLACION, conecto mi atributo en mi TS en mi HTML-->
        ID =  {{objeto.id}}
        Precio = {{objeto.precio}}
         ejemplo interpolacion 2+2 {{2+2}}
        

    </li>
    <p>{{"Suma = " + getSuma(10,10)}}</p>
    <p>Titulo : {{mostrarTitulo('interpolacion de datos')}}</p>
    <!--INTERPOLACION-->
    <!--PROPERTLY-->
    

</ul>